<div class="container-fluid" >
    <div class="row mt-4 mb-4">
      <header class="col-md-12">
        <h5>Главная / Фотофиксация</h5>
      </header>
      <div class="col-md-12">
        <div class="row d-flex justify-content-between align-items-center">
          <div class="input-group" style="width: 20%">
            <input
              type="text"
              class="form-control"
              placeholder="Поиск..."
              aria-label="Recipient's username"
              aria-describedby="basic-addon2"
              style="border-radius: 36px; background: transparent; border: 1px solid #797979;"
            />
          </div>
  
          <div class="btns-group col-md-4 d-flex justify-content-end">
  
            <button type="button" class="btn btn-light " style="border-radius: 32px; padding: 17px 32px;"  >Добавить новый</button>
          </div>
        </div>
      </div>
    </div>
    
  
    
    <app-table></app-table>
  
  
  </div>
  
  