<div class="container">
  <div class="card mb-4">
    <div class="card-header">Форма просмотра</div>

    <div
    class="spinner-container d-flex justify-content-center align-items-center mt-4"
    *ngIf="isLoading"
  >
    <mat-spinner></mat-spinner>
  </div>

    <div class="card-body" *ngIf="!isLoading" >
      <div class="container form-view mb-4">
        <div class="row mb-3">
          <div class="col-md-6 d-flex flex-column">
            <label class="form-label" for="Id">Гос-номер АТС</label>
            <span>{{ data?.transportNumber }}</span>
          </div>

          <div class="col-md-6 d-flex flex-column">
            <label class="form-label" for="Title"
              >Номер прицепа/полуприцепа</label
            >
            <span>{{ data?.trailerNumber }}</span>
          </div>

          <div class="divider col-md-12"></div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 d-flex flex-column">
            <label class="form-label" for="Id">Дата создания</label>
            <span>{{ data?.creatingDate }}</span>
          </div>

          <div class="col-md-6 d-flex flex-column">
            <label class="form-label" for="Title">Таможенный орган</label>
            <span>{{ data?.customsDepartment.fullName }}</span>
          </div>

          <div class="divider col-md-12"></div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 d-flex flex-column">
            <label class="form-label" for="Id">Способ записи</label>
            <span>{{ data?.recordingMethod }}</span>
          </div>

          <div class="col-md-6 d-flex flex-column">
            <label class="form-label" for="Title">Общий вес</label>
            <span>{{ data?.totalWeight }}</span>
          </div>

          <div class="divider col-md-12"></div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 d-flex flex-column">
            <label class="form-label" for="Id">Система весов</label>
            <span>{{ data?.weightSystem?.name }}</span>
          </div>

          <div class="col-md-6 d-flex flex-column">
            <label class="form-label" for="Title">Фото</label>
            <img
              [src]="data?.photo?.fileName"
              style="width: 100px; border: 1px solid; height: 100px"
              [alt]="data?.photo?.id"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 d-flex flex-column">
            <label class="form-label" for="Id">Нарушение</label>
            <span>{{ data?.violation }}</span>
          </div>

          <div class="col-md-6 d-flex flex-column">
            <label class="form-label" for="Title">Тип взвешивания</label>
            <span>{{ data?.weighingType }}</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 d-flex flex-column">
            <label class="form-label" for="Id">Статус</label>
            <span>{{ data?.status }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="divider mb-4" style="border: 1px solid #fcfcfc"></div>

    <div class="card-body" *ngIf="!isLoading">
      <div class="container form-view mb-4">
        <div class="row mb-3">
          <div class="col-md-6 d-flex flex-column">
            <label class="form-label" for="Id">Евро</label>
            <span>{{ data?.euro }}</span>
          </div>

          <div class="col-md-6 d-flex flex-column">
            <label class="form-label" for="Title"
              >Номер прицепа/полуприцепа</label
            >
            <span>{{ data?.modifierType }}</span>
          </div>

          <div class="divider col-md-12"></div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 d-flex flex-column">
            <label class="form-label" for="Id">Оси</label>
            <span>{{ data?.axles }}</span>
          </div>

          <div class="col-md-6 d-flex flex-column">
            <label class="form-label" for="Title">Фотографии</label>
            <span>{{ data?.photos }}</span>
          </div>

          <div class="divider col-md-12"></div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12 d-flex flex-column">
            <label class="form-label" for="Id">Габаритные размеры</label>
            <span>{{ data?.dimensions }}</span>
          </div>

          <div class="divider col-md-12"></div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 d-flex flex-column">
            <label class="form-label" for="overload">Перегрузка</label>
            <span>{{ data?.overload }}</span>
          </div>

          <div class="col-md-6 d-flex flex-column">
            <label class="form-label" for="Title">Нарушение транзита</label>
            <span>{{ data?.transitViolations }}</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 d-flex flex-column">
            <label class="form-label" for="Id">Доп. информация</label>
            <span>{{ data?.addInfo }}</span>
          </div>

          <div class="col-md-6 d-flex flex-column">
            <label class="form-label" for="Title"
              >Индетификатор пред.версии</label
            >
            <span>{{ data?.prevVerID }}</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 d-flex flex-column">
            <label class="form-label" for="Id">Номер акта</label>
            <span>{{ data?.actNumber }}</span>
          </div>

          <div class="col-md-6 d-flex flex-column">
            <label class="form-label" for="Id">Категория</label>
            <span>{{ data?.category }}</span>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-12 d-flex flex-column">
            <label class="form-label" for="Id">АТС ТСТК</label>
            <span>{{ data?.vehicleTstk }}</span>
          </div>
        </div>

        <a href="/vgk" class="btn btn-primary">Назад</a>
      </div>
    </div>
    
  </div>
</div>
